.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar-nav li a {
 line-height: 32px;
}

.navbar-default .navbar-brand {
    color: #2689CA;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: transparent;
  color: #CCB828;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #2689CA;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
